body {
    margin: 0;
    padding: 0;

	font-family: "PT Sans Regular", "Arial" sans-serif;
	font-size: 14рх;
	line-height: 21px;
	font-weight: 400;
	color: rgb(51, 51, 51);
	text-transform: uppercase;
	text-align: center;

	background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

.visually-hidden {
	visibility: hidden;
}


.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: rgb(0, 0, 0);

    background-color: rgb(255, 255, 255);
}

.main-navigation-list {
    list-style: none;
}

.main-navigation-list a {
   color: rgb(0, 0, 0);
}


.main-navigation-list a:hover {
	color: rgb(129, 179, 210);
}

.main-navigation-list a:focus {
    color: rgba(0, 0, 0, 0.5);
}

.menu-item-current {
	color: rgb(118, 99, 87);
}

.banner-index {
    background-image: url("../img/index/banner-img-and-mask.jpg");
    min-height: 500px;
    background-color: rgb(129, 179, 210);
    background-position: center;
    background-repeat: no-repeat;
}

.town {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.reasons h3 {
	font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.reason-one,
.reason-two {
	color: rgb(255, 255, 255);
	background-color: rgb(129, 179, 210);
}

.reason-three h3,
.reason-four h3,
.reason-five h3 {
	color: rgb(0, 0, 0);
	background-color: rgb(238, 238, 238)
}
.reason-three p,
.reason-four p,
.reason-five p {
	color: rgb(51, 51, 51);
	background-color: rgb(238, 238, 238)
}

.recommendations h3 {
	font-size: 21px;
    line-height: 21px;
    font-weight: 700;
	color: rgb(0, 0, 0);
}

.hotel-search b {
	font-size: 30px;
    line-height: 36px;
    font-weight: 700px;
	color: rgb(0, 0, 0);
}

.hotel-search p {
	line-height: 24px;
}

.hotel-search button {
	font: inherit;

    font-size: 21рх;
	line-height: 26px;
	font-weight: 700;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-transform: uppercase;
    
    border: none;
}

.button-hotel-search {
	background-color: rgb(118, 99, 87);
    width: 570px;
    height: 90px;
}

.button-hotel-search:hover {
	background-color: rgb(96, 78, 67);
	width: 570px;
    height: 90px;
} 

.button-hotel-search:active {
	background-color: rgb(80, 62, 51);
	width: 570px;
    height: 90px;
}

.search {
	background-color: rgb(129, 179, 210);
    width: 430px;
    height: 60px;
}

.search:hover {
	background-color: rgb(102, 158, 192);
    width: 430px;
    height: 60px;
}

.search:active {
	background-color: rgb(84, 150, 189);
    width: 430px;
    height: 60px;
}

.hotel-search-form input {
    font: inherit;
    line-height: 26px;
    font-weight: 700;
    color: rgb(0, 0, 0);

    border: 2px solid rgb(229, 229, 229);
}

.hotel-search-form input[type="text"] {
	font: inherit;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
    color: rgb(0, 0, 0);

	background-color: rgb(242, 242, 242);
}

.hotel-search-form input[type="text"]:hover {
    font: inherit;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);

    background-color: rgb(235, 235, 235);
}

.hotel-search-form input[type="text"]:active {
    font: inherit;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(0, 0, 0);

    background-color: rgb(255, 255, 255);
}

.main-footer {
    line-height: 26px;
    color: rgba(0, 0, 0);
}

.footer-hashtag a {
	color: rgba(0, 0, 0);
	font-size: 21рх;
	font-weight: 700;
}

.footer-hashtag a:hover {
	color: rgba(0, 0, 0);
}

.footer-hashtag a:focus {
	color: rgba(0, 0, 0);
}

.footer-social ul {
   list-style: none;
}

.social {
    background-color: rgb(129, 179, 210);
    width: 45px;
    height: 50px;
    border: none;
}



.filters {
    color: rgb(255, 255, 255);

    background-image: url("../img/catalog/background-catalog.jpg");
    min-height: 210px;
    background-color: rgb(129, 179, 210);
    background-position: center;
    background-repeat: no-repeat;
}

.filter fieldset{
	border: transparent;
}

.filter legend {
    font: inherit;
    line-height: 26px;
    font-weight: 700;
}

.filter-option input:hover,
.filter input:focus {
    color: rgb(129, 179, 210);
}

.filter-option input:disabled {
   color: rgb(106, 106, 106);
}

.filter-option input[type="text"] {
	font: inherit;
	color: rgb(255, 255, 255);
	text-transform: uppercase;

	background-color: transparent;
	border: 2px solid rgb(255, 255, 255);
}

.button-filter {
	font: inherit;
	color: rgb(255, 255, 255);

    background-color: transparent;
    width: 135px;
    height: 30px;
	border: 2px solid rgb(255, 255, 255);
}

.button-filter:hover,
.button-filter:focus {
	color: rgb(0, 0, 0);

	background-color: rgb(255, 255, 255);
}

.results-filters{
    color: rgb(0, 0, 0);
}

.resuls {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.sorting {
	font-size: 12px;
	line-height: 18px;
}

.results-filters-list ul {
	list-style: none;
}

.results-filters-link a {
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
}

.results-filters-link a:hover {
	text-decoration: none;
	color: rgb(129, 179, 210);
	border-bottom: 1px dotted rgba(129, 179, 210, 0.5);
}

.results-filters-link a:focus {
	color: rgb(0, 0, 0);
}

.hotels-search-results {
	font: inherit;
}

.title {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: rgb(0, 0, 0);
}

.title a {
    color: rgb(0, 0, 0);
}

.title a:hover {
    color: rgb(129, 179, 210);
}

.title a:focus {
    color: rgba(0, 0, 0, 0.5);
}

.two-buttons {
	/*font-size: 14px;
	line-height: 21px;*/
	font-weight: 700;

	border: none;
}

.read-more {
	color: rgb(255, 255, 255);
	background-color: rgb(118, 99, 87);
	width: 110px;
	height: 25px;
}

.read-more:hover {
	color: rgb(255, 255, 255);
    background-color: rgb(102, 158, 192);
    width: 110px;
	height: 25px;
}

.read-more:focus {
	color: rgba(255, 255, 255, 0.5);
	background-color: rgb(84, 150, 189);
	width: 110px;
	height: 25px;
}

.book-it {
	color: rgb(255, 255, 255);
    background-color: rgb(129, 179, 210);
    width: 140px;
	height: 25px;
}

.book-it:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(96, 78, 67);
	width: 140px;
	height: 25px;
}

.book-it:focus {
	color: rgba(255, 255, 255, 0.5);
	background-color: rgb(80, 62, 51);
	width: 140px;
	height: 25px;
}

.raiting {
	color: rgb(102, 102, 102);
	background-color: rgb(242, 242, 242);
}


/*сетки*/

.conteiner {
    width: 1200px;
    min-height: 2760px;
    margin: 0 auto;
}


.main-logo {
    width: 138px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  } 


.main-navigation-list {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1200px;
	min-height: 42px;
	margin: 0;
	padding: 0;
	font-size: 0;

	
}

.main-navigation-list li {
	width: 240px;
    font-size: 14px;
}

.menu-item-one {
   
	
	
}

.menu-item-two {
  
	
}

.menu-item-three {
    
}

.menu-item-four {
   
	
}

.banner-index {
	margin: 0;
	padding: 0;
}

.content-img img {
	padding: 0;
	margin-top: 0px;
	margin-bottom: 60px;
}

.banner-mask-img img {
    margin: 0;
	padding: 0;
}

.about-sedona{
    margin: 0;
	width: 1200px;
	min-height: 211px;
	text-align: center;


}

.reason-one {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 260px;
	margin: 0;
	padding: 0;
}	

.reason-one-column-left {
    width: 396px;
    
 }

.reason-one-column-right {
	margin: 0;
	padding: 0;
}

.recommendations-row {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 330px;
}

.recommendations {
	width: 396px;
}

.reasons-row {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 253px;
	margin: 0;
	padding: 0;
}

.reason-three,
.reason-four,
.reason-five {
	width: 396px;
}

.reason-two {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 260px;
	margin: 0;
	padding: 0;
}

.reason-two-right-column {
	width: 396px;
}
.reason-two-left-column {
	margin: 0;
	padding: 0;
}

.hotel-search-block-one {
	min-height: 295px;
	margin: 0;
	padding: 0;
}

.hotel-search-block-two {
	min-height: 470px;
    margin: 0;

    background-image: url("../img/index/map.jpg");
}

.hotel-search-form {
	width: 570px;
	min-height: 395px;
	top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

	background-color: rgb(255, 255, 255)
}

.main-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 120px;
	margin: 0;
	padding: 0;
}

.main-footer-column {
	width: 396px;
}

.footer-social-list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.footer-social-list-fb {
	margin-left: 5px;
	margin-right: 5px;
}

.footer-copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.footer-copyright-content {
	margin-right: 8px
}

/*catalog*/

.filter {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
	min-height: 217;
}

 .filter-infrastructure {
    width: 142px;
    margin-left: 73px: 
    margin-right: 116px;
}

.filter-type-of-accommodation  {
   width: 136px;
}

.filter-price-from-to {
    margin-left: 345px: 
    margin-right: 73px;

}

.results-filters {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
}

.results-filters-block-one {
	width: 275px;
    margin-left: 73px;
}

.results-filters-block-two {
    width: 253px;
}

.results-filters-block-three {
	width: 527px;
    margin-right: 73px;
}

.results-filters-block-two ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
	min-height: 88px;
}

.results-filters-block-three ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.hotel-description-row-one {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	border-top: 2px solid rgb(235, 235, 235);
	border-bottom: 2px solid rgb(235, 235, 235);
	min-height: 150px;
}

.row-one-column-left {
	width: 135px;
    margin-left: 73px;
}

.row-one-column-center {
    width: 261px;
    margin-left: 32px;
    margin-right: 522px;
}

.row-one-column-right {
	width: 111px;
    margin-right: 73px;
}

.hotel-description-row-two {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	border-bottom: 2px solid rgb(235, 235, 235);
	min-height: 150px;
}

.row-two-column-left {
	width: 135px;
    margin-left: 73px;
}

.row-two-column-center {
    width: 261px;
    margin-left: 32px;
    margin-right: 522px;
}

.row-two-column-right {
	width: 111px;
    margin-right: 73px;
}

.hotel-description-row-three {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	border-bottom: 2px solid rgb(235, 235, 235);
	min-height: 150px;
}

.row-three-column-left {
	width: 135px;
    margin-left: 73px;
}

.row-three-column-center {
    width: 261px;
    margin-left: 32px;
    margin-right: 522px;
}

.row-three-column-right {
	width: 111px;
    margin-right: 73px;
}


