body {
    margin: 0;
    padding: 0;

	font-family: "PT Sans Regular", "Arial", sans-serif;
	font-size: 14рх;
	line-height: 18px;
	font-weight: 400;
	color: rgb(51, 51, 51);
	text-transform: uppercase;
	text-align: center;

	background-color: rgb(242, 242, 242);
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
  /*height: auto;*/
  margin: 0;
  padding: 0;
}

.conteiner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*index*/
/*header*/
.main-logo {
    width: 138px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 3;
  } 

.site-navigation {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: rgb(0, 0, 0);

    background-color: rgb(255, 255, 255);
}

.site-navigation-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 6%;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.site-navigation-list li {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	width: 20%;
    padding-top: 16px;
    padding-bottom: 22px;
    /*height: 56px;*/
}

.site-navigation-list li:nth-child(2) {
	margin-right: 20%;

}

.site-navigation-list li:nth-child(1),
.site-navigation-list li:nth-child(2) {
	justify-content: flex-start;
}

.site-navigation-list li:nth-child(3),
.site-navigation-list li:nth-child(4) {
	justify-content: flex-end;
}

.site-navigation-list li:nth-child(2) a {
    margin-left: 30px;
}

.site-navigation-list li:nth-child(3) a {
	margin-right: 32px;
}

.site-navigation-list a {
   color: rgb(0, 0, 0);
}


.site-navigation-list a:hover {
	color: rgb(129, 179, 210);
}

.site-navigation-list a:focus {
	color: rgb(129, 179, 210);
}

.site-navigation-list a:active {
    color: rgba(0, 0, 0, 0.5);
}

.menu-item-current a,
.menu-item-current a:hover,
.menu-item-current a:focus,
.menu-item-current a:active {
	color: rgb(118, 99, 87);
}

/*main*/
.main-content-index {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

.banner-index {
	
    position: relative;
    background-image: url("../img/background-index.jpg");
    min-height: 720px;
    background-color: rgb(129, 179, 210);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
	padding: 0;
}

.banner-index img {
	width: 458px;
	height: 352px;
	margin-top: 75px;
}

.banner-index::after {
	content: "";
  
  position: absolute;
  top: 450px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
    
  width: 1200px;
  height: 57px;
  
  background-image: url("../img/banner-mask.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  
  opacity: 1;
}

.about-sedona {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 1200px;
    height: 217px;
	background-color: rgb(255, 255, 255);
    margin: 0;
    margin-top: -213px;
    z-index: 2;
}

.town {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin: 0;
    margin-top: 60px;
}

.five-reasons {
	margin: 0;
	margin-top: 30px;
}

.reason-long-block {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;

	padding: 0;
	/*min-height: 256px;*/
}	

.reason-content-block {
	margin: 0;
	padding: 0;
	width: 400px;
	min-height: 256px;

 }

.reason-img-block {
	margin: 0;
	padding: 0;
	width: 800px;
	vertical-align: middle;
	width: 800px;
	height: 256px;
}

.reasons-row {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 256px;
}

.reason-white {
	color: rgb(255, 255, 255);
	background-color: rgb(129, 179, 210);
}

.reason-black {
	color: rgb(0, 0, 0);
	background-color: rgb(238, 238, 238);
}

.reason-content-block h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;

    margin: 0;
    margin-top: 47px;
    margin-bottom: 23px;
}

.reason-number {
	margin: 0;
	margin-bottom: 23px;
}

.reason-content-block p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.recommendations-row {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 330px;
	background-color: rgb(255, 255, 255);
}

.recommendation {
	width: 400px;
	min-height: 330px;
 }

.recommendation h3 {
	position: relative;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin: 0;
    margin-top: 160px;
    margin-bottom: 20px;
}

.recommendation p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: rgb(51, 51, 51);
    margin: 0;
    margin-bottom: ;
}

.recommendation h3::before {
	content: "";

  position: absolute;
  top: -99px;
  left: 159px;

  width: 80px;
  height: 80px;

  background-repeat: no-repeat;
  background-color:  rgb(255, 255, 255);
}

.recommendation-accommodation h3::before {
	background-image: url(../img/icon-1.svg);
	margin-left: 3px;
}

.recommendation-food h3::before {
	background-image: url(../img/icon-3.svg);
	
}

.recommendation-souvenirs h3::before {
	background-image: url(../img/icon-2.svg);
	margin-left: 10px;
	margin-top: -5px;
}


/*блок вызова выпадающего меню*/
.hotel-search-block-one {
	display: flex;
	flex-direction: column;
	min-height: 290px;
	position: relative;
	margin: 0;
	padding: 0;	
}

.hotel-search-form {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.hotel-search-title {
	font-size: 30px;
    line-height: 36px;
    font-weight: 700;
	color: rgb(0, 0, 0);
	margin: 0;
	padding-top: 50px;
	padding-bottom: 0;
	
}

.hotel-search-text {
	line-height: 24px;
	margin-top: 7px;

}

.hotel-search-button {
	display: inline-block;
	font-size: 21рх;
	line-height: 26px;
	font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: rgb(118, 99, 87);
    padding: 30px 140px; 
    border: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 316px;
   
   }

.hotel-search-button:hover {
	background-color: rgb(96, 78, 67);
} 

.hotel-search-button:focus {
	background-color: rgb(96, 78, 67);
} 

.hotel-search-button:active {
	background-color: rgb(80, 62, 51);
}


/*выпадающая форма*/
.hotel-search-block-two {
	background-image: url(../img/map.jpg);
	background-repeat: no-repeat;
	min-height: 593px;
	margin: 0;
	position: relative;
}

.hotel-search-form-age .search {
	color: rgb(255, 255, 255);
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: rgb(129, 179, 210);
    width: 430px;
    height: 60px;
    border: 0;
    margin: 0;
    margin-top: 55px;
}

.hotel-search-form-age .search:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(102, 158, 192);
    width: 430px;
    height: 60px;
    border: 0;
}

.hotel-search-form-age .search:focus {
	color: rgb(255, 255, 255);
	background-color: rgb(102, 158, 192);
    width: 430px;
    height: 60px;
    border: 0;
}

.hotel-search-form-age .search:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: rgb(84, 150, 189);
    width: 430px;
    height: 60px;
    border: 0;
}

.hotel-search-form-date input {
	width: 341px;
	height: 36px;
    font: inherit;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: rgb(0, 0, 0);

    border: none;
}

.hotel-search-form label {
	 font: inherit;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.hotel-search-form input[type="text"] {
	font: inherit;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding-left: 10px;

	background-color: rgb(242, 242, 242);
	
}

.date-from {
	position: relative;
	margin: 0;
	margin-top: 55px;
}

.date-from button {
	width: 21px;
    height: 22px;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 480px;
    top: 5px;
}

.date-to {
	position: relative;
	margin: 0;
	margin-top: 30px;
}

.hotel-search-form-age p {
	margin: 0;
	margin-top: 32px;
}

.date-to button {
	width: 21px;
    height: 22px;
    background-color: transparent;
    border: none;
    position: absolute;
    left: 480px;
    top: 5px;
}

.hotel-search-form input[type="text"]:hover {
    font: inherit;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);

    background-color: rgb(235, 235, 235);
}

.hotel-search-form input[type="text"]:focus {
    font: inherit;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);

    background-color: rgb(235, 235, 235);
}

.hotel-search-form input[type="text"]:active {
    font: inherit;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(0, 0, 0);

    background-color: rgb(255, 255, 255);
     border: 2px solid rgb(229, 229, 229);
}

.hotel-search-form-age input {
    width: 39px;
    height: 33px;
    border: none;
    background-color: rgb(242, 242, 242); 
    margin: 0;
}

.hotel-search-form-age button {
	width: 39px;
    height: 33px;
    border: none;
    background-color: rgb(242, 242, 242);
    margin: 0;
}

.hotel-search-form {
	width: 570px;
	min-height: 395px;
	position: absolute;
	top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

	background-color: rgb(255, 255, 255)
}

.date-from input {
	margin: 0;
	margin-left: 20px;
}

.date-to input {
	margin: 0;
	margin-left: 16px;
}

.adults-form {
	margin-right: 40px;
}

.children-form {
	margin-left: 50px;
	margin-right: 25px;
}

.calendar .icon-calendar {
	fill: rgb(169, 169, 169);
}

.calendar:hover .icon-calendar {
	fill: rgb(0, 0, 0);
}

.calendar:focus .icon-calendar {
	fill: rgb(0, 0, 0);
}

.calendar:active .icon-calendar {
	fill: rgb(129, 179, 210);
}

.form-age button {
	color: rgb(169, 169, 169);
}

.form-age button:hover {
	color: rgb(0, 0, 0);
}

.form-age button:focus {
	color: rgb(0, 0, 0);
}

.form-age button:active {
	color: rgb(129, 179, 210);
}


/*footer*/
.main-footer {
	position: absolute;
	bottom: 0;
	left: 0;
    right: 0;
    margin: 0 auto;
	
}

.site-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 120px;
	margin: 0;
	padding: 0;
    color: rgba(0, 0, 0);
    background-color:  rgb(255, 255, 255);
}

.footer-hashtag a {
	color: rgb(0, 0, 0);
	font-size: 21рх;
	line-height: 26px;
	font-weight: 700;
}

.footer-hashtag a:hover {
	color: rgb(0, 0, 0);
}

.footer-hashtag a:focus {
	color: rgb(0, 0, 0);
}

.footer-hashtag a:active {
	color: rgb(0, 0, 0);
}

.footer-social ul {
   list-style: none;
}

.site-footer-column {
	width: 33%;
}

.footer-social-list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.social {
	background-color: rgb(129, 179, 210);
    width: 45px;
    height: 45px;
    border: none;
   }

.social-icon {
	fill: rgb(255, 255, 255);
	
}

.social:hover {
    background-color: rgb(102, 158, 192);
}

.social:hover .social-icon {
	fill: rgb(255, 255, 255);
}

.social:focus {
    background-color: rgb(102, 158, 192);
}

.social:focus .social-icon {
	fill: rgb(255, 255, 255);
}

.social:active {
	background-color: rgb(84, 150, 189);
}

.social:active .social-icon {
	fill: rgb(136, 182, 209);
}

.footer-social-list li:nth-child(2) {
	margin-left: 5px;
	margin-right: 5px;
}


.footer-copyright {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}

.footer-copyright-content {
	font-size: 14px;
	line-height: 26px;
	margin: 0;
	padding-right: 20px;
}

.logo-htmlacademy {
	fill: rgb(35, 31, 32);
}

.footer-copyright-link:hover .logo-htmlacademy {
	fill: rgb(129, 179, 210);
}

.footer-copyright-link:focus .logo-htmlacademy {
	fill: rgb(129, 179, 210);
}

.footer-copyright-link:active .logo-htmlacademy {
	fill: rgb(189, 187, 181);
}

/*catalog*/
/*фильтры для поиска гостиницы*/
.filters {
    color: rgb(255, 255, 255);

    background-image: url("../img/background-catalog.jpg");
    min-height: 217px;
    background-color: rgb(129, 179, 210);
    background-position: center;
    background-repeat: no-repeat;
}

.filters label {
	cursor: pointer;
}

.filters input[type="checkbox"] + label {
	display: inline-block;
	position: relative;
	padding-left: 30px;
}

.filters input[type="checkbox"] + label::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 23px;
	height: 23px;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
}

.filters input[type="checkbox"]:checked + label::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 27px;
	height: 23px;
	background-image: url(../img/checkbox-on.svg);
	background-repeat: no-repeat;
}

.filter {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 6%;
	padding: 0;
}

.filter-column-left li {
	list-style: none;
	font: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: 
    width: 145px;
}

.filter-column-center li {
	list-style: none;
	font: inherit;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: 
}

.filter fieldset{
	border: transparent;
}

.filter legend {
    font: inherit;
    line-height: 26px;
    font-weight: 700;
}

.filter-option input:hover,
.filter input:focus,
.filter input:active {
    color: rgb(129, 179, 210);
}

.filter-option input:disabled {
   color: rgb(106, 106, 106);
}

.filter-range {
  width: 320px;
  margin: 50px auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.filter-range-price-controls {
  position: relative;
  
  height: 30px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-range-price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.filter-range-price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: middle;
  
  cursor: pointer;
}

.filter-range-price-controls .min-price,
.filter-range-price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.filter-range-price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.filter-range-range-controls {
  position: relative;

  margin-bottom: 32px;
}

.filter-range-range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.filter-range-range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-range-btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-range-btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

 


/*блок с результатами поиска гостиницы*/
/*маленький фильтр для результатов поиска*/
.results-filters {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 86px;
	padding: 0;
	color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(235, 235, 235);
    background-color: rgb(255, 255, 255);
    margin: 0 6%;
}

.results-filters-block-one {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 281px;
}

.results {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.results-number {
    margin-left: 10px;
}

.sorting {
	font-size: 12px;
	line-height: 18px;
	margin-left: 48px;
	margin-right: 38px;
}

.results-filters-block-two {
    width: 538px;;
}

.results-filters-block-two ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
	
}

.results-filters-list li:nth-child(2) {
	margin-right: 31px;
	margin-left: 31px;
}

.results-filters-list li {
	font-size: 12px;
	line-height: 18px;
}

.results-filters-current {
	color: rgb(129, 179, 210);
	border: none;
}

.results-filters-link a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px dotted rgb(129, 179, 210);
}

.results-filters-link a:hover {
	text-decoration: none;
	color: rgb(129, 179, 210);
	border-bottom: 1px dotted rgb(129, 179, 210);
}

.results-filters-link a:focus {
	text-decoration: none;
	color: rgb(129, 179, 210);
	border-bottom: 1px dotted rgb(129, 179, 210);
}

.results-filters-link a:active {
	color: rgb(0, 0, 0);
	border: none;
}

.results-filters-block-three {
	width: 527px;
}

.results-filters-block-three ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.results-filters-triangular-button li:first-child {
	margin-right: 10px;
}

.triangular-button .icon-dir {
   fill: rgb(202, 202, 202);
}

.triangular-button:hover .icon-dir {
   fill: rgb(0, 0, 0);
}

.triangular-button:focus .icon-dir {
   fill: rgb(0, 0, 0);
}

.triangular-button:active .icon-dir{
    fill: rgb(129, 179, 210);
}

.triangular-button-current .icon-dir,
.triangular-button-current:hover .icon-dir,
.triangular-button-current:focus .icon-dir,
.triangular-button-current:active .icon-dir {
   fill:  rgb(129, 179, 210);
}


/*карточки отелей*/
.hotels-search-results {
	background-color: rgb(255, 255, 255);
}

.hotel-description {
	display: flex;
	 justify-content: flex-start;
	align-items: center;
	margin: 0 6%;
	padding: 0;
	border-bottom: 1px solid rgb(235, 235, 235);
	min-height: 150px;
	font: inherit;
}

.hotel-description-img {
	margin-right: 30px;
}

.hotel-description-img img {
	width: 135px;
	height: 90px;
	
}

.hotel-description-content p{
	text-align: left;
}

.text-row-one span {
	margin: 0;
	margin-left: 40px;
}

.text-row-two span {
	margin: 0;
	margin-left: 65px;
}

.text-row-three span {
	margin: 0;
	margin-left: 23px;
}

.hotel-description-content {
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
    margin-right: 525px;
}

.hotel-description-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: rgb(0, 0, 0);
	margin: 0;
	margin-top: -4px;
	margin-bottom: 8px;
	
}

.hotel-description-text {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	margin: 0;
	margin-bottom: 15px;
}

.hotel-description-title a {
    color: rgb(0, 0, 0);
}

.hotel-description-title a:hover {
    color: rgb(129, 179, 210);
}

.hotel-description-title a:focus {
    color: rgb(129, 179, 210);
}

.hotel-description-title a:active {
    color: rgba(0, 0, 0, 0.5);
}

.two-buttons {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	margin: 0;
    
	border: none;
}

.read-more {
	display: inline-block;
	padding: 3px 17px;
	margin: 0;
	margin-right: 5px;
	color: rgb(255, 255, 255);
	background-color: rgb(118, 99, 87);
	
}

.read-more:hover {
	color: rgb(255, 255, 255);
    background-color: rgb(102, 158, 192);
}

.read-more:focus {
	color: rgb(255, 255, 255);
    background-color: rgb(102, 158, 192);
}

.read-more:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: rgb(84, 150, 189);
}

.book-it {
	display: inline-block;
	padding: 3px 17px;
	color: rgb(255, 255, 255);
    background-color: rgb(129, 179, 210);
}

.book-it:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(96, 78, 67);
}

.book-it:focus {
	color: rgb(255, 255, 255);
	background-color: rgb(96, 78, 67);
}

.book-it:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: rgb(80, 62, 51);
}

.stars {
	margin: 0;
	margin-bottom: 50px;
}

.row-one-stars {
    background: url("../img/star.svg");
    
    background-position: right;
    background-repeat: repeat-x;
    width: 72px;
    height: 17px;
    margin-left: 24px;
}

.row-two-stars {
    background: url("../img/star.svg");
    
    background-position: right;
    background-repeat: repeat-x;
    width: 52px;
    height: 17px;
    margin-left: 45px;
}

.row-three-stars {
	background: url("../img/star.svg");
    
    background-position: right;
    background-repeat: repeat-x;
    width: 34px;
    height: 17px;
    margin-left: 65px;
}

.raiting {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: rgb(102, 102, 102);
	background-color: rgb(242, 242, 242);
	margin: 0;
}






